HOST=0.0.0.0
PORT=1337
PUBLIC_URL=http://localhost:1337
IS_PROXIED=false
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432

APP_KEYS=sample_key_1,sample_key_2
JWT_SECRET=sample_jwt_secret
ADMIN_JWT_SECRET=sample_admin_jwt_secret
API_TOKEN_SALT=sample_api_token_salt
TRANSFER_TOKEN_SALT=sample_transfer_token_salt
ENCRYPTION_KEY=sample_encryption_key

LIARA_ENDPOINT=https://storage.c2.liara.site
LIARA_ACCESS_KEY_ID=sample_access_key
LIARA_ACCESS_SECRET=sample_access_secret
LIARA_BUCKET=tarhelahicloud
LIARA_REGION=default
LIARA_BASE_URL=https://api.tarhelahi.ir
AWS_ACL=public-read

SMSIR_API_KEY=sample_smsir_api_key
SMSIR_TEMPLATE_ID=sample_template_id
SMSIR_LINE_NUMBER=

# ByeMoney Service-to-Service Integration Key (Generate at least 32 random bytes)
# Generate via: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
BYEMONEY_SERVICE_KEY=your_secure_random_service_key_at_least_32_bytes
